@import "tailwindcss";

@layer base {
  body {
    font-family: 'Segoe UI', sans-serif;
  }
}

/* Custom scrollbar for better look in the "phone" container */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6B705C;
  border-radius: 3px;
}

